:root {
    --offCanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav {
    width: var(--offCanvas-width);
}

#navbarSupportedContent {
    padding-top: 1em;
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    main {
        margin-left: var(--offCanvas-width);
        /* width: calc(100vw - var(--offCanvas-width) - 24px) !important; */
    }
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    #navbarSupportedContent {
        padding-top: 0 !important;
    }
}

main {
    margin-top: var(--topNavbarHeight);
    /* width: 100vw; */
}

.page {
    /* height: calc(100vh - var(--topNavbarHeight)); */
}

.material-icons {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -1px;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

[aria-expanded="true"] .down-icon,
[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
    transition: all ease .25s;
}

[aria-expanded="false"] .down-icon,
[aria-expanded="true"] .right-icon {
    transition: all ease .25s;
}

.profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

#loading-screen {
    z-index: 999999999999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fs-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: hsla(0, 0%, 0%, 99%);
    overflow: hidden;
}

.fs-fg {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: min-content;
    overflow: hidden;
}

.fs-fg p {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.w-min {
    width: min-content !important;
}

.h-min {
    height: min-content !important;
}

.h-max {
    height: max-content !important;
}

.w-max {
    width: max-content !important;
}

.ws-nowrap {
    white-space: nowrap;
}