<!doctype html>
<html lang="en">

<head>
    <title>Steam Game Stuff</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Google fonts: https://fonts.google.com/icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>



    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- sidebar trigger -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
                <!-- sidebar trigger -->
            </button>

            <!-- Brand -->
            <a class="navbar-brand fw-bold me-auto" href="#" data-bs-target="#offcanvasExample">&nbsp; Home </a>


        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Sidebar/offcanvas -->
    <div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body p-0">

            <!-- Secondary navbar -->
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <!-- PUT LINKS HERE -->

                    <!-- Keep them in this format! (copy paste then change href, data-target, then the contents accordingly) -->
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/money-spent" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#money-spent">
                            <span class="me-2">
                                Money Spent
                            </span>
                        </a>
                    </li>
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/friends-list" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#friends-list">
                            <span class="me-2">
                                Friends List
                            </span>
                        </a>
                    </li>
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/money-spent-histogram" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#money-spent-histogram">
                            <span class="me-2">
                                Histogram of Game Costs
                            </span>
                        </a>
                    </li>
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/games" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#games">
                            <span class="me-2">
                                Your Games
                            </span>
                        </a>
                    </li>
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/playtime" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#playtime">
                            <span class="me-2">
                                Your Playtime
                            </span>
                        </a>
                    </li>
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/playtimePrice" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#playtimePrice">
                            <span class="me-2">
                                Your Avg. Playtime per Price!
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Offcanvas -->

    <!-- Main part of the site -->
    <main class="mt-5 p-3">


        <!-- CREATE PAGES HERE! -->
        <!-- Be sure your links above corrspond to the id here, notice #dashboard links to this element -->
        <div class="container page" id="money-spent">
            <!-- Make a page here -->
            <h1 class="text-center">Your Money Spent on Steam Games!</h1>
            <div class="form-outline">
                <input type="search" id="moneyForm" class="form-control" placeholder="Enter Your Steam ID Here" aria-label="Search" />
            </div>
            <h2 class="text-center" id = "totalCost"> Click Here!</h2>
        </div>
        <div class="container page" id="friends-list">
            <!-- Make a page here -->
            <h1 class="text-center">Your Steam Friends!</h1>
            <div class="form-outline">
                <input type="search" id="friendsForm" class="form-control" placeholder="Enter Your Steam ID Here" aria-label="Search" />
            </div>
            <table id="friendsTable" class="table table-striped table-hover"></table>
            <h2 class="text-center" id = "friendsButton"> Click Here!</h2>
        </div>
        <div class="container page" id="money-spent-histogram">
            <!-- Make a page here -->
            <h1 class="text-center">Histogram of Your Games' Costs!</h1>
            <div class="form-outline">
                <input type="search" id="histogramForm" class="form-control" placeholder="Enter Your Steam ID Here" aria-label="Search" />
            </div>
            <h2 class="text-center" id = "histogramButton"> Click Here!</h2>
            <canvas id="histogram" width="10" height="5"></canvas>
        </div>
        <div class="container page" id="games">
            <!-- Make a page here -->
            <h1 class="text-center">Your Games!</h1>
            <div class="form-outline">
                <input type="search" id="gamesForm" class="form-control" placeholder="Enter Your Steam ID Here" aria-label="Search" />
            </div>
            <table id="gamesTable" class="table table-striped table-hover"></table>
            <h2 class="text-center" id = "gamesButton"> Click Here!</h2>

        </div>
        <div class="container page" id="playtime">
            <!-- Make a page here -->
            <h1 class="text-center">Your Total Time Spent on Steam Games!</h1>
            <div class="form-outline">
                <input type="search" id="playtimeForm" class="form-control" placeholder="Enter Your Steam ID Here" aria-label="Search" />
            </div>
            <h2 class="text-center" id = "playtimeButton"> Click Here!</h2>
        </div>
        <div class="container page" id="playtimePrice">
            <!-- Make a page here -->
            <h1 class="text-center">Average Playtime per Price!</h1>
            <div class="form-outline">
                <input type="search" id="playtimePriceForm" class="form-control" placeholder="Enter Your Steam ID Here" aria-label="Search" />
            </div>
            <h2 class="text-center" id = "playtimePriceButton"> Click Here!</h2>
            <canvas id="lineChart" width="10" height="5"></canvas>

        </div>

        <!-- For each page, make your links above -->


    </main>
    <!-- End of your pages, do not put any html content below this -->


    <!-- All scripts: -->

    <!-- Bootstrap JavaScript Libraries -->
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.js"></script>


    <!-- Charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>

    <!-- Taylor's scripts that you can use to your leisure! -->
    <script src="../static/js/requests.js"></script>
    <script src="../static/js/tables.js"></script>
    <script src="../static/js/elements.js"></script>
    <script src="../static/js/pages.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/notifications.js"></script>
    
    <!-- My Scripts! -->
    <script>
        //Total Game Money
        const button = document.querySelector('#totalCost');
        const results = document.querySelector('#totalCost');
        const inputForm = document.querySelector("#moneyForm");
        button.addEventListener("click", (e) => {
            button.innerHTML = "Loading!";
            findTotalForSteamId(inputForm.value).then((res) => {
                if (res == "private_profile") {
                    button.innerHTML = "Click Here!";
                    alert("Your Profile Is Private :(");
                    return; 
                }
                button.innerHTML = "Click Here!";
                results.innerHTML = res;
            })  
        })
        /**
         * Tells you how much someone with the given steam id has spent on steam games
         * @param {String} steamId The steam id of the person
         * @returns {String}
         */
        async function findTotalForSteamId(steamId) {
            res = await fetch('/userMoney/' + steamId, { method:'POST' });
            text = await res.text();
            return text;
        }
    </script>
    <script>
        //Friends List
        const friendsButton = document.querySelector('#friendsButton');
        const friendsResults = document.querySelector('#friendsTable');
        const friendsInputForm = document.querySelector("#friendsForm");
        const friendsHeaders = [
            {
                title:'Avatar',
                getData: (row) => {
                    if (row.info == "error") {
                        return "Error :/"
                    } else if (row.info == "private_profile") {
                        return "Private Profile"
                    }
                    let element = document.createElement("img")
                    element.src = row.info.avatarmedium
                    return element
                }
            },
            {
                title:'Name',
                getData: (row) => {
                    if (row.info == "error") {
                        return "Error :/"
                    } else if (row.info == "private_profile") {
                        return "Private Profile"
                    }
                    return row.info.personaname
                }
            },
            {
                title: 'Id',
                getData: (row) => {
                    return row.steamid;
                }
            },
            {
                title: 'Spendings',
                getData: (row) => {
                    return row.total
                }
            }
        ];
        friendsButton.addEventListener("click", (e) => {
            friendsButton.innerHTML = "Loading!";
            findFriendsForSteamId(friendsInputForm.value)
                .then((res) => {
                    if (res == "private_profile") {
                        alert("Your Profile Is Private :(");
                        friendsButton.innerHTML = "Click Here!";
                        return; 
                    }
                    if (res == "error") {
                        alert("There was an error :|");
                        friendsButton.innerHTML = "Click Here!";
                        return; 
                    }
                    let people = JSON.parse(res)
                    let i = 0
                    for (let person of people) {
                        findInfoForSteamId(person.steamid) 
                        .then((info) => {
                            if (info == "private_profile" || info == "error") {
                                person.info = info
                            } else {
                                person.info = JSON.parse(info).response.players[0];
                            }
                            i++
                            if (i == people.length) {
                                let j = 0
                                for (let person of people) {
                                    findTotalForSteamId(person.steamid) 
                                    .then((total) => {
                                        if (total == "private_profile" || total == "error") {
                                            person.total = total
                                        } else {
                                            person.total = total.slice(6);
                                        }
                                        j++
                                        if (j == people.length) {
                                            friendsButton.innerHTML = "Click Here!";
                                            setTable(friendsResults, friendsHeaders, people);
                                            return;
                                        }
                                    })
                                    .catch(e => {
                                        console.error(e);
                                    })             
                                }
                                return;
                            }
                        })
                        .catch(e => {
                            console.error(e);
                        })             
                    }
                })
                .catch((e) =>{
                    console.error(e)
                })
        })
        /**
         * Tells you how much someone with the given steam id has spent on steam games
         * @param {String} steamId The steam id of the person
         * @returns {String}
         */
        async function findFriendsForSteamId(steamId) {
            
            res = await fetch('/userFriends/' + steamId, { method:'POST' });
            text = await res.text();
            return text;
        }
    </script>
    <script>
        //User Info
        /**
         * Tells you how much someone with the given steam id has spent on steam games
         * @param {String} steamId The steam id of the person
         * @returns {String}
         */
        async function findInfoForSteamId(steamId) {
            
            res = await fetch('/userInfo/' + steamId, { method:'POST' });
            text = await res.text();
            return text;
        }
    </script>
    <script>
        const histogramButton = document.querySelector('#histogramButton');
        const histogramResults = document.querySelector('#histogram').getContext('2d');
        const histogramInputForm = document.querySelector("#histogramForm");
        let chart;
        histogramButton.addEventListener("click", (e) => {
            histogramButton.innerHTML = "Loading!";
            if (chart) {
                chart.destroy()
            }
            findHistogramForSteamId(histogramInputForm.value)
                .then((res) => {
                    if (res == "private_profile") {
                        alert("Your Profile Is Private :(");
                        histogramButton.innerHTML = "Click Here!";
                        return; 
                    }      
                    if (res == "error") {
                        alert("An Error Occured :(");
                        histogramButton.innerHTML = "Click Here!";
                        return; 
                    }  
                    histogramButton.innerHTML = "Click Here!"       
                    chart = new Chart(histogramResults, {
                        type: 'bar',
                        data: {
                            labels: ["Free", '0.01 - 5', '5.01 - 10', '10.01 - 15', '15.01 - 20', '20.01 - 50', '50.01+', 'Unknown'],
                            datasets: [{
                                label: "Number of Games",
                                data: JSON.parse(res).data,
                                backgroundColor: "green",
                                barPercentage: 1.25 
                            }]
                        },
                        options: {}
                    })
                })
                .catch(e => {
                    console.error(e);
                })
            })
        /**
         * Tells you how much someone with the given steam id has spent on steam games
         * @param {String} steamId The steam id of the person
         * @returns {String}
         */
        async function findHistogramForSteamId(steamId) {
            
            res = await fetch('/userHistogram/' + steamId, { method:'POST' });
            text = await res.text();
            return text;
        }
    </script>
    <script>
        const gamesButton = document.querySelector('#gamesButton');
        const gamesResults = document.querySelector('#gamesTable');
        const gamesInputForm = document.querySelector("#gamesForm");
        const gamesHeaders = [
            {
                title:'Icon',
                getData: (row) => {
                    let element = document.createElement("img");
                    element.src = "http://media.steampowered.com/steamcommunity/public/images/apps/" + row.appid + "/" + row.img_icon_url + ".jpg";
                    return element;
                }
            },    
            {
                title:'Name',
                getData: (row) => {
                    return row.name;
                }
            },
            {
                title: 'appId',
                getData: (row) => {
                    return row.appid;
                }
            },
            {
                title: "Price",
                getData: (row) => {
                    return row.price
                }
            },
            {
                title: 'Playtime (hours)',
                getData: (row) => {
                    return Math.floor(row.playtime_forever/60);
                }
            }
        ];
        gamesButton.addEventListener("click", (e) => {
            gamesButton.innerHTML = "Loading!";
            findGamesForSteamId(gamesInputForm.value)
                .then((res) => {
                    if (res == "private_profile") {
                        alert("Your Profile Is Private :(");
                        gamesButton.innerHTML = "Click Here!";
                        return;
                    }
                    if (res == "error") {
                        alert("There was an error :|"); 
                        gamesButton.innerHTML = "Click Here!";
                        return; 
                    }
                    let games = JSON.parse(res)
                    let i = 0
                    console.log(games)
                    for (let game of games) {
                            findPriceForGameName(game.name) 
                                .then((price) => {
                                    if (price  == "error") {
                                        game.price = "Error"
                                    } else {
                                        game.price = price
                                    }
                                    i++
                                    gamesButton.innerHTML = "Loading! " + (games.length - i) + " Games Left!";
                                    if (i == games.length) {
                                        gamesButton.innerHTML = "Click Here!";
                                        setTable(gamesResults, gamesHeaders, games);
                                        return;
                                    }
                                })
                                .catch(e => {
                                    console.error(e);
                                })          
                    }  
                })
                .catch((e) =>{
                    console.error(e)
                })
        })
        /**
         * Tells you what games someone with the given steam id has
         * @param {String} steamId The steam id of the person
         * @returns {String}
         */
        async function findGamesForSteamId(steamId) {
            res = await fetch('/userGames/' + steamId, { method:'POST' });
            text = await res.text();
            return text;
        }
        /**
         * Tells you how much someone with the given steam id has spent on steam games
         * @param {String} steamId The steam id of the person
         * @returns {String}
         */
        async function findPriceForGameName(gameName) {
            if (gameName.includes("/")) {
                return "Unknown"
            }
            res = await fetch('/gameCost/' + gameName, { method:'POST' });
            text = await res.text();
            return text;
        }

    </script>
    <script>
        const playtimeButton = document.querySelector('#playtimeButton');
        const playtimeResults = document.querySelector('#playtimeButton');
        const playtimeInputForm = document.querySelector("#playtimeForm");
        playtimeButton.addEventListener("click", (e) => {
            playtimeButton.innerHTML = "Loading!";
            findGamesForSteamId(playtimeInputForm.value)
                .then((res) => {
                    if (res == "private_profile") {
                        alert("Your Profile Is Private :(");
                        playtimeButton.innerHTML = "Click Here!";
                        return;
                    }
                    if (res == "error") {
                        alert("There was an error :|"); 
                        playtimeButton.innerHTML = "Click Here!";
                        return; 
                    }

                    let games = JSON.parse(res)
                    let total = 0
                    for (let game of games) {
                        total += game.playtime_forever
                    }   
                    playtimeResults.innerHTML = Math.floor(total/60) + " Hours and " + total % 60 + " Minutes :/"
                })
                .catch((e) =>{
                    console.error(e)
                })
        })
    </script>
    <script>
        const playtimePriceButton = document.querySelector('#playtimePriceButton');
        const playtimePriceResults = document.querySelector('#lineChart').getContext('2d');
        const playtimePriceForm = document.querySelector("#playtimePriceForm");
        let lChart;
        playtimePriceButton.addEventListener("click", (e) => {
            playtimePriceButton.innerHTML = "Loading!";
            if (lChart) {
                lChart.destroy();
            }
            findLineChartForSteamId(playtimePriceForm.value)
                .then((res) => {
                    playtimePriceButton.innerHTML = "Click Here!";
                    if (res == "private_profile") {
                        alert("Your Profile Is Private :(");
                        return; 
                    }      
                    if (res == "error") {
                        alert("An Error Occured :(");
                        return; 
                    }  
                    res = JSON.parse(res).data.sort((a, b) => a.price - b.price)
                    let labels = []
                    let data = []
                    for (let dataPoint of res) {
                        labels.push(dataPoint.price.toString())

                        data.push(dataPoint.playtime/dataPoint.count)
                    }
                    lChart = new Chart(playtimePriceResults, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Playtime For Price",
                                data: data,
                                fill: false,
                                borderColor: 'rgb(0, 255, 0)',
                                tension: 0.1
                            }]
                        },
                        options: {}
                    });
                })
                .catch(e => {
                    console.error(e);
                });
            });
        async function findLineChartForSteamId(steamId) {
            res = await fetch('/userLineChart/' + steamId, { method:'POST' });
            text = await res.text();
            return text;
        }
    </script>
</body>

</html>