<!doctype html>
<html lang="en">

<head>
    <title>YOUR TITLE HERE</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Google fonts: https://fonts.google.com/icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>



    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- sidebar trigger -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
                <!-- sidebar trigger -->
            </button>

            <!-- Brand -->
            <a class="navbar-brand fw-bold me-auto" href="#" data-bs-target="#offcanvasExample">&nbsp; YOUR TITLE HERE</a>


        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Sidebar/offcanvas -->
    <div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body p-0">

            <!-- Secondary navbar -->
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <!-- PUT LINKS HERE -->

                    <!-- Keep them in this format! (copy paste then change href, data-target, then the contents accordingly) -->
                    <li>
                        <!-- href and data-target: #element-to-view -->
                        <a href="/dashboard" class="nav-link px-3 active toggle-elements" data-toggle-class=".page" data-target="#dashboard">
                            <span class="me-2">
                                Dashboard
                            </span>
                        </a>
                    </li>



                </ul>
            </nav>
        </div>
    </div>
    <!-- End Offcanvas -->

    <!-- Main part of the site -->
    <main class="mt-5 p-3">


        <!-- CREATE PAGES HERE! -->

        <!-- Be sure your links above correspond to the id here, notice #dashboard links to this element -->
        <div class="container page" id="dashboard">
            <!-- Make a page here -->

            <h1 class="text-center">Your Page Here!</h1>

        </div>

        <!-- For each page, make your links above -->


    </main>
    <!-- End of your pages, do not put any html content below this -->


    <!-- All scripts: -->

    <!-- Bootstrap JavaScript Libraries -->
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.js"></script>


    <!-- Charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>

    <!-- My scripts that you can use to your leisure! -->
    <script src="../static/js/requests.js"></script>
    <script src="../static/js/tables.js"></script>
    <script src="../static/js/elements.js"></script>
    <script src="../static/js/pages.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/notifications.js"></script>
</body>

</html>